.projects {
    padding-top: 90px;
    margin-bottom: 30px;
}

.projectsHeader {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.moreProjectsLinkWrapper {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
}

.moreProjects {
    padding: 15px;
    font-weight: 600;
    font-size: 17px;
}

.moreProjects:hover {
    transform: translateY(-3px);
    transition: 0.3s;
    background-color: white;
    color: var(--purple, red);
}

@media screen and (max-width: 770px) {
    .projects {
        margin-top: 75px;
    }

    .projectsHeader {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .more_projects {
        margin-top: 39.9px;
    }
}